/*  My Offical StyleSheet */
#pageOne {
    background-image: url("../Images/fillerImage.jpg");
    min-height: 100%;
    min-height: 1200px;
    min-width: 100%;
    overflow-x: hidden;
    -webkit-background-size: cover; 
     -moz-background-size: cover; 
    -o-background-size: cover; 
    background-size: cover;
}
#navbar {
    position: absolute;
    z-index: 51;
    height: 40px;
    min-width: 100%;
    transition: background-color 0.5s linear;
    -moz-transition: background-color 0.5s linear;  
    -webkit-transition: background-color 0.5s linear; 
    -ms-transition: background-color 0.5s linear; 
    padding: 10px;
} 
#navbar .navbarElement {
    float: right;
    display: block;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-size: 20px;
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
    transition: color 0.5s linear;
    -moz-transition: color 0.5s linear;  
    -webkit-transition: color 0.5s linear; 
    -ms-transition: color 0.5s linear; 
    font-weight: 300;
}
.sticky {
    overflow: hidden;
    top: 0;
    background-color: white;
    min-width: 100%;
    color: black;
}

.sticky + .content {
    padding-top: 60px;
} 
#containerForTextFields {
    position: relative;
    min-height: 100%;
    min-width: 100%;
} 

#welcome_message {
    position: absolute;
    font-size: 35px;
    text-align: center;
    color: white;
    margin: auto;
    width: 400px;
    top: 40%;
    left: 50%;
    margin-left: -200px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    border: solid white;
    border-width: 4px 4px 4px 4px;
}

#arrow_button {
    position: absolute;
    border: solid white;
    left: 50%;
    margin-left: -15px;
    border-width: 0 10px 10px 0;
    bottom: 60px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    z-index: 50;
    display: inline;
    width: 30px;
    height: 30px;
}

/* Page Two */ 

#pageTwo {
    position: relative;
    min-height: 100%;
    min-height: 1200px;
    overflow-y: hidden;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    background-image: url("../Images/pageTwoBackground.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#pageTwoHeaderDiv {
    height: 100px;
    position: relative;
}
#pageTwoHeader {
    position: absolute;
    text-align: center;
    font-size: 35px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    width: 300px;
    left: 50%;
    margin-left: -150px;
    z-index: 2;
    border: solid white;
    border-width: 4px 4px 4px 4px;
    color: white;
    top: 50px;
}
#pageTwoAnchor {
    position: relative;
    top: -60px;
}
#itemContainer {
    position: absolute;
    overflow-y: hidden;
    display: flex;
    flex-wrap: wrap;
    flex-direction: ltr;
    width: 1200px;
    left: 50%;
    margin-left: -593px;
    margin-top: 100px;
}
.item {
    /* border: solid #AAAAAA; */
    /* border: solid white; */
    border: solid white;
    border-width: 2px 2px 2px 2px;
    width: 595px;
    height: 225px;
    /* background-color: #FFDC00; */
    background-color: #002952;
}
.itemImage {
    margin: 30px;
    float: left;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 150px;
    height: 150px;
}
.itemTextDiv {
    width: 575px;
    height: 205px;
    margin: 10px;
    position: absolute;
    z-index: 2;
    opacity: 0;
    background-color: white;
    transition: opacity .5s ease-out;
    -moz-transition: opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out;
}
.itemTextDiv:hover {
    opacity: 1;
}
.visible {
    opacity: 1 !important;
}
.itemTitle {
    position: relative;
    margin-top: 20px;
    margin-bottom: 0;
    width: 575px;
    text-align: center;
    font-weight: 500;
    font-size: 23px;
    font-family: 'Courier New', Courier, monospace;
}
.itemText {
    position: relative;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    width: 535px;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

#html {
    background-image: url("../Images/html.png");
}
#python {
    background-image: url("../Images/python.png");
}
#java {
    background-image: url("../Images/java.png");
}
#interests {
    background-image: url("../Images/coding.png")
}
#goals {
    background-image: url("../Images/pursuits.png");
}
#passTimes {
    background-image: url("../Images/hobbies.png")
}
#cpp {
    background-image: url("../Images/cpp.png")
}
#pursuits {
    background-image: url("../Images/goals2.png")
}
/* Page Three */
#pageThree {
    min-width: 100%;
    min-height: 100%;
    min-height: 1200px;
    position: relative;
    margin-bottom: 250px;
}
#pageThreeAnchor {
    top: -20px;
}
#pageThreeHeaderDiv {
    height: 100px;
    position: relative;
}
#pageThreeHeader {
    position: relative;
    text-align: center;
    font-size: 35px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    width: 400px;
    left: 50%;
    margin-left: -200px;
    z-index: 2;
    border: solid black;
    border-width: 4px 4px 4px 4px;
    color: black;
    margin-top: 50px;
}
#projectContainer {
    position: relative;
    width: 1200px;
    min-height: 100%;
    left: 50%;
    margin-left: -600px;
}
.project {
    position: relative;
    width: 1180px;
    height: 200px;
    margin: 10px;
}
.projectImage {
    display: block;
    position: absolute;
    margin: 10px;
    float: left;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 180px;
    height: 180px;
    border-radius: 30px;
}
.projectDescription {
    position: relative;
    left: 220px;
    list-style-type: none;
    margin: 10px;
}
.projectTitle {
    font-weight: 400;
    font-size: 25px;
    width: 800px;
    font-family: 'Courier New', Courier, monospace;
}
.projectText {
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    width: 800px;
}
.projectContents {
    font-size: 18px;
    width: 800px;
    font-weight: 400;
    font-family: 'Courier New', Courier, monospace;
}
#projectOne {
    background-image: url("../Images/PathFindingImage.png");
}
#projectTwo {
    background-image: url("../Images/CCCPhoto3.png");
}
#projectThree {
    background-image: url("../Images/ACPCPhoto.png");
}
#projectFour {
    background-image:  url("../Images/MazeSolutionFinder.jpg");
}
#projectFive {
    background-image: url("../Images/HolidayDash.png");
}
#projectSix {
    background-image: url("../Images/ChessdotMeImage.png")
}
#projectComingSoon {
    background-image: url("../Images/coming-soonOne.jpg");
}
/*  Page Four */ 
#pageFour {
    /* background-color: #002952; */
    background-color: #FFDC00;
    /* min-width: 100%; */
    position: relative;
}
#messageFormContainer {
    position: relative;
    min-width: 60%;
    min-height: 50%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 300px;
}
#messageFormCaption {
    position: relative;
    min-width: 100px;
    font-weight: 400;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 60px;
    top: 20px;
}
#contactMeText {
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 24px;
    font-family: 'Courier New', Courier, monospace;
    top: 40px;
}
#nameAndEmailDiv {
    position: relative;
    width: 800px;
    left: 50%;
    margin-left: -380px;
    margin-top: 75px;
    display: flex;
    flex-direction: ltr;
}
#nameInput {
    width: 380px;
    margin-right: 5px;
    border-radius: 5px;
    resize: none;
    font-size: 15px;
    height: 17px;
    overflow: hidden;
}
#emailInput {
    width: 380px;
    margin-left: 5px;
    border-radius: 5px;
    resize: none;
    font-size: 15px;
    height: 17px;
    overflow: hidden;
}
#messageInput {
    width: 780px;
    position: relative;
    height: 150px;
    left: 50%;
    margin-left: -380px;
    margin-top: 20px;
    border-radius: 5px;
    resize: none;
    font-size: 15px;
    overflow: hidden;
    margin-bottom: 30px;
}
#submitButton {
    position: absolute;
    display: block;
    height: 30px;
    width: 200px;
    font-size: 20px;
    border-radius: 5px;
    left: 50%;
    margin-left: -100px;
    font-weight: 400;
}
/* #submitButton:hover {
    opacity: 0.8;
} */
#submitButton:active, #submitButton:focus { 
    outline: none; 
    /* border-style: outset; */
}
#emailAndLocationDiv {
    display: flex;
    position: relative;
    width: 600px;
    left: 50%;
    margin-left: -300px;
    flex-direction: ltr;
    margin-top: 30px;
}
.infoElement {
    width: 240px;
    margin: 30px;
}
.infoIcon {
    position: relative;
    width: 30px;
    height: 30px;
    left: 50%;
    margin-left: -20px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#emailIcon {
    background-image: url("../Images/emailIcon.png");
} 
#locationIcon {
    background-image: url("../Images/locationIcon.png");
}
.infoText {
    margin-top: 10px;
    text-align: center;
    font-size: 20px;
}

/* Footer */

#footerDiv {
    position: relative;
    height: 100px;
    background-color: #25221e;
    min-width: 100%;
    width: 1000px;
}
#footerContainer {
    position: relative;
    width: 800px;
    height: 100px;
    left: 50%;
    margin-left: -400px;
}
#footerIconsDiv {
    position: relative;
    display: flex;
    flex-direction: ltr;
    width: 400px;
    left: 50%;
    margin-left: -200px;
    top: 25px;
    margin-bottom: 30px;
}
.footerElement {
    width: 240px;
    margin-left: 20px;
    margin-right: 20px;
}
.footerIcon {
    position: relative;
    width: 40px;
    height: 40px;
    left: 50%;
    margin-left: -20px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#githubIcon {
    display: block;
    background-image: url("../Images/githubIcon.png");
}
#gmailIcon {
    display: block;
    background-image: url("../Images/gmailIconClear.png");
}
#footerText {
    position: relative;
    min-width: 100%;
    text-align: center;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    
}
/* All of the website */
.anchor {
    position: relative;
}
html {
    scroll-behavior: smooth;
}
html, body {
    height: 100%;
    background-color: white;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
.page {
    height: 100%;
}
